/* You can add global styles to this file, and also import other style files */
.odd{
    background-color: rgb(13, 77, 129);
    color:white;
}

.even{
    background-color: rgb(192, 50, 25);
    color:white;
}